header {
    background-color: white;
    border-bottom: solid 1px #CCCCCC;
    height: 70px; width: 100%;
    height: 70px;
    width: 100%;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
}
