.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 12px;
    right: 30px;
}
button:hover {
    opacity: 90%;
}
.locations {
    position: absolute;
    height: 100%;
    width: 25%;
    border-right: solid #DDDDDD 1px;
}
.amenities {
    position: absolute;
    right: 50%;
    height: 100%;
    width: 25%;
}
h3 {
    font-weight: 600;
    position: relative;
    left: 15%;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    left: 15%;
    top: 30%;
}
